*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    border:2px solid green;
    background:black;
}

.sidebar{ /*Overall Side-Bar for left and right*/
    display:flex;
    width:150px;
    border:2px solid blue;;
    height:100vh;
    margin:15px;
    overflow:auto;
    flex-flow:column wrap;
    /*substitute for flex-direction uses both wrap and direction with (flex-flow)*/
    align-items: center;
    justify-content:flex-start;
}

.testing-color{
    border:2px solid red;
    margin:10px;
    width:75%;
    height:20%;
}

.side-center{
    display:flex;
    flex:1;
    width:75%;
    /*For second box*/
}

.container-content{
    display:flex;
    border:2px solid blue;
    flex:1;
    /*margin: top right bottom left*/
    margin: 15px 0 15px 0;
}