@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@600&family=Roboto:ital,wght@1,300&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type:none;
}

.wrapper{
    display:flex;
    position:relative;
}

.wrapper .side-bar{/*Properties for both side bars*/
    display:flex;
    width:150px;
    min-height:100vh;
    border:2px solid green;
    margin:20px;
    justify-content:center;
    flex-flow:row wrap;
}

.wrapper .side-bar .button-links{
    display:flex; /*The buttons are wraped in flexbox*/
    flex-flow:column wrap; /*display in colunn*/
    text-align: center; /*center align the text*/
    border:2px solid black;
    width:100%;
    height:300px;
    justify-content: center;
}

.wrapper .side-bar .button-links button{
    margin:20px;
    cursor:pointer; /*gives pointer when hovering over button*/
    font-size:large;
}

.wrapper .side-bar .logo{
    height:15%;
    width:100%;
    border:2px solid purple;
}

.wrapper .main-content{ /*Main-Content*/
    display:flex;
    flex:1;
    border:2px solid blue;
    margin:10px;
}